In [2]:
# !!!!!Import rest of the libraries required
import seaborn as sns
import matplotlib.pyplot as plt


# Load the Diamonds dataset from Seaborn
diamonds_data = sns.load_dataset("diamonds")
diamonds_data.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

In [2]:
## STATISTICS challenge:

# calculate the mean of the price by cut

# calculate the standard deviation of the price by cut
# calculate the median of the price by cut
# calculate the mode of the price by cut
# calculate the variance of the price by cut
# calculate the 25 and 75 percentile of the price by cut
# calculate the range of the price by cut

# bonus 1:
# is there a correlation between the price and the carat? If so, what kind of correlation is it?
# what about covariance?


# bonus 2 if you have a lot of time:
# make a function on your own that calculates the standard deviation of a list of numbers (you can find the formula in last weeks slides)

In [ ]:
# 1. Boxplot of Diamond Price Vs Cut

In [ ]:
# 2. Barplot: Average Diamond Price by Color

In [ ]:
# 3. Scatterplot with Facets: Scatterplot of Carat vs. Price by Cut"

In [ ]:
# 4. Pie Chart: Distribution of Diamond Cut

In [ ]:
# Create a correlation matrix
correlation_matrix = diamonds_data.corr()

# Create a correlation plot